

.unassigned-product-list {






}html, body {

  font-family: oswald, Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: oswald;
  src: url(./assets/Oswald-VariableFont_wght.ttf);
}

.auth-form {
  width: 30vw;
  margin-left: 35vw;
  height: fit-content;
  margin-top: 10vh;
  padding: 1%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1% / 2%;
}

.auth-form form {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch-auth-button {
  cursor: pointer;
}

.navbar {
  background-color: black;
  width: 100vw;
  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar h1 {
  color: white;
}

.route-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  height: 90vh;
}

.route-selection {
  background-color: black;
  color: white;
  height: 50%;
  width: 15%;
  margin-top: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid white;
  border-radius: 4%;

  cursor: pointer;  
  transition: all 0.5s;

}

.products-landing-container {
  margin-top: 8vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* background-color: brown; */
}
.product-list-container {
  width: 60%;
  height: 70vh;
  border: 1px solid black;
  border-radius: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list::-webkit-scrollbar {
  /* display: none; */
}

.product-list {
  list-style: none;
  padding: 0%;
  /* background-color: blanchedalmond; */
  width: 80%;
  overflow-y: auto;
}

.route-selection:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: #C64033;
  border-color: black;

  

}

.route-selection svg {
  transform: scale(4);
  margin-bottom: 20%;
}

.product-list-item:hover {

  background-color: black;
  

}

.product-list-item {
  transition: all .5s;
  cursor: pointer;
  text-align: center;
  margin-top: 1%;
  font-size: 3vmin;
  margin-left: 25%;
  background-color: #C64033;
  border: 2px solid black;
  border-radius: 1% / 10%;
  color: white;
  width: 50%;
}

.product-list-header {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.product-list-header h1 {
  margin-bottom: 0%;

}


.product-details-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
}

.product-details-container {

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2%;
  border: 2px solid black;
  background-color: black;
  border-radius: 1% / 2%;
  height: 90%;
  width: 80%;
}

.loading {
  position: absolute;
  top: 10%;
  left: 50%;
}

.product-details-main{ 


  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}
.product-details-main > div {
  
  width: 30%;
  height: 100%;
  
  
  background-color: white;
  border: 1px solid white;
  border-radius: 2% / 2%;
}

.product-details-distributer-map {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */

}

.product-details-distributer-map > h1 {
  text-align: center;
}

.sub-section-landing-page {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  width: 100%;
  height: 90vh;
}


.distributor-child {

  width: 20vw;
  height: 60%;
  margin-top: 5%;

  color: #C64033;
  border-radius: 2% / 2%;
  border: 1px solid black;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
  row-gap: 8%;


  
}


.white-title {
  color: white;
  font-size: 4vmin;

}

.unassigned-product-warning {

  padding: 0%;
  margin: 0%;
  color: white;
  font-size: 3.5vmin;


}

.distributer-product-container {
  margin-top: 5%;
  height: 70%;
  width: 80%;
  background-color: black;
  border: 1px solid black;
  border-radius: 1% / 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.distributer-product-container-sub-container {
  background-color: white;
  width: 35%;
  height: 80%;

  border: 1px solid white;
  border-radius: 2% / 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
}




.unassigned-product-list {


  list-style: none;
  padding: 0%;
  margin: 0%;
  overflow-y: auto;
  height: 100%;
  width: 60%;

}

.unassigned-product-list-item {
  text-align: center;
  font-size: 2vmin;
  transition: all .25s;
  cursor: pointer;
}
.unassigned-product-list-item:hover {
  background: black;
  color: white;
}

.assignText {
  width: 100%;
  display: flex;
  column-gap: 5%;
  align-items: center;
  justify-content: flex-start;
}

.new-product {
  color: white;
  margin: 0;
  padding: 0%;
}

.new-product-form-container {

  background-color: black;
  margin-top: 2%;
  height: 80%;
  width: 50%;
  border: 1px solid black;
  border-radius: 1%;

}

.new-product-form {
  background-color: white;
  height: 50%;
  width: 60%;
  margin-left: 10%;
  border: 1px solid white;
  border-radius: 1%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  row-gap: 5%;
  padding: 10%;

}
.product-title-container {
  width: 25%;
  font-size: auto;
  height: 10%;
  margin: 1%;
  display: flex;
  border: 1px solid white;
  border-radius: 2% / 10%;
  justify-content: center;
  background-color: white;
  text-align: center;

}


.new-product-title {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  column-gap: 2%;
  /* background-color: white; */
  width: 100%;
}

.product-settings-icon {

  cursor: pointer;

}


.map-entry {
  /* background-color: grey; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.mapping-container {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: hotpink; */
}


.product-update-delete-container {
  margin-top: 3%;
  width: 50%;
  height: 80%;

  border: 1px solid black;
  border-radius: 1% / 2%;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 6%; */
}

.product-update-container > h2 {

}

.product-update-container > div {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.product-update-container > div > h2 {
  margin: 0%;
}
.product-update-container > div > h3 {
  margin: 0%;
  font-size: 2vmin;
}

.product-update-container {

  width: 80%;
  height: 70%;
  border: 1px solid white;
  border-radius: 1% / 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.danger-zone {
  padding: 1%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2% / 8%;
  transition: all 0.25s;
}

.danger-zone:hover {
  background-color: #C64033;
  color: white;
}


.delete-confirmation {
  display: flex;
  flex-direction: column;
}


.product-details-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.product-numbers-card > h1 {
  /* justify-self: f; */
  text-align: center;
  flex-shrink: 2;
}

.product-numbers-card {


  /* background-color: #C64033; */
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.number-card {
  display: flex;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-grow: 2;
  font-size: 2.5vmin;
}



.reports-form {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  row-gap: 10%;

  font-size: larger;

  height: 50%;
  width: 25%;
  margin-top: 5%;

  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 2%;




}

.landing-error-text {
  margin-top: 2%;
  font-size: 125%;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

